<nav class="navbar navbar-inverse" role="navigation">
 <div class="container">
  <!-- Brand and toggle get grouped for better mobile display-->
  <div class="navbar-header">
    <button type="button"class="navbar-toggle collapsed"data-toggle="collapse"data-target="bs-example-navbar-collapse-1">
      <span class="sr-only"> Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
     </button>
     
     <a class="navbar-brand"href="#">ROBYN'S PROJECT</a>
     </div>
     
     <!--Collect the nav links, forms, and other content for toggling-->
     <div class="navbar-collapse collapse" id="navbar-collapse">
       <ul class="nav navbar-nav">
         <li><%= link_to 'Home', root_path, class: 'btn btn-primary' %></li>
          <li><%= link_to 'About Me', home_about_path, class: 'btn btn-primary' %> 
          <li><%= link_to 'List Pin', pins_path, class: 'btn btn-primary' %> 
     <% if user_signed_in? %>
       <%= javascript_include_tag :defaults %>
          <li><%= link_to 'Add Pin', new_pin_path, class: 'btn btn-primary' %></li>
           <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-primary' %></li> 
           <li><%= button_to "Sign out", destroy_user_session_path, class: 'btn btn-primary', :method => :delete %></li>
       <% else %>
           <li><%= link_to "Login", new_user_session_path, class: 'btn btn-primary' %></li>
           <li><%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %></li>
            <% end %>
             </ul>
             </div>  <!--/.navbar-collapse -->
             </div> <!--/.container -->
             </nav>
       
    
      
       